#title{
  background-color: #ff4c68;


}

a{
  text-decoration: none !important;
}

.container-fluid{
  padding: 3% 15% 7%;
  position: relative;
}

.navbar-brand{
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 3rem;
}


.nav-item{
  padding: 3%;
  font-family: Montserrat;
  font-weight: 300;
}

.toggler-btn{
  background-color: #ff4c68;
}

.heading{
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:#fff;
}

.download-button{
  margin: 5% 3% 5% 0;

}

.navbar{
  margin-bottom: 3%;
  padding: 0% 0%;
}

.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}


#features{
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.icon{
  color: #ef8172;
  margin-bottom: 10%;
}

.icon:hover{
  color: #ff4c68;
}

.feature-heading{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-comment{
  color: #8f8f8f;
}

#testimonials{

  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-heading{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
}

.press-logo{
  width: 15%;
  padding: 0 2% 7% 2%;

}

#pricing{
  padding: 100px;
  text-align: center;
}
.item{
  padding: 3% 2%;
}


#cta{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;

}

.cta-heading{
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 5%
}

#footer{
  text-align: center;
  background-color: #fff;
  padding:7% 15%;
}

.footer-icon{
  padding: 0 1% 3%;

}

.footer-icon:hover{
  color: grey;
}

.footer-link{
  color:#000;
}

.copyright{
  color: grey;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }
}
